
<ion-content>

<!-------------CAROUSEL SLIDERS----------->
<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
      aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item" style="background-image: url(../../assets/bg-bangh2.jpg);">


      <div class="container">
        <div class="carousel-caption text-start">
          <h1>National Cricket Days</h1>
          <p>Cricket is a team game. If you want fame for yourself, go play an individual game</p>
          <p><a class="btn btn-lg btn-primary" href="#">Participate now</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item active" style="background-image: url(../../assets/bg-bangh.jpg);">


      <div class="container">
        <div class="carousel-caption">
          <h1>Improve Your Game</h1>
          <p>Helps cricketers enhance their performance and reach their full potential on the field.</p>
          <p><a class="btn btn-lg btn-primary" href="#" target="blank">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url(../../assets/post-thumb6.jpg);">

      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Donating cricket kits</h1>
          <p>Donating cricket kits can be a great way to support aspiring cricketers</p>
          <p><a class="btn btn-lg btn-primary" href="">Donate Now</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--------Impact 2023--------->

<div class="container my-5">
  <h1 class="myhead">Our impact in 2023</h1>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <h1 class="Mynumber">200</h1>
      <p class="Mytxt">The impact of major cricket tournaments and events held in 2023</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <h1 class="Mynumber">9.5</h1>
      <p class="Mytxt">Exceptional performances by cricketers can have a profound impact on the sport.</p>

    </div>
    <div class="col-md-4 col-sm-4">
      <h1 class="Mynumber">$1.4M</h1>
      <p class="Mytxt">Cricket's influence extends beyond the boundaries of the playing field. </p>
    </div>
  </div>
</div>

<!------Learn-More------>
<div class="container marketing">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-6 col-sm-6">
      <h2 class="featurette-heading">
        <h2 class="MYtext">Cricket Practice</h2> <span class="text-muted">Improve Your Game Now</span>
      </h2>
      <p class="lead">
        Cricket practice is a continuous process that requires dedication, discipline, and a growth mindset. Regular
        practice, along with a focus on technique, fitness, and mental preparation, helps cricketers enhance their
        performance and reach their full potential on the field.
      </p>

      <!--Button-IO-->
      <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Learn More</span>
      </button>

      <!--Button-IO-->
      <button class="mobtn">
        Explore
        <div class="arrow-wrapper">
          <div class="arrow"></div>

        </div>
      </button>
    </div>
    <div class="col-md-6 col-sm-5">
      <div class="container text-center mycon">
        <div class="row">
          <div class="col-md-1 col-sm-0">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/g3.jpg">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/g7.jpg">
          </div>
          <div class="col-md-1 col-sm-0">
          </div>
        </div>

        <div class="row">
          <div class="col-md-1 col-sm-0">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/g5.jpg">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/image6.jpg">
          </div>
          <div class="col-md-1 col-sm-0">
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-sm-5 order-md-2">
      <h2 class="featurette-heading">
        <h2 class="MYtext">Cricket Kit</h2> <span class="text-muted">Donating cricket kits</span>
      </h2>
      <p class="lead">
        Donating cricket kits can be a great way to support aspiring cricketers, especially those who may not have
        access to proper equipment. If you are interested in donating cricket kits, here are some general details to
        consider
      </p>
      <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Learn More</span>
      </button>


      <button class="mobtn">
        Explore
        <div class="arrow-wrapper">
          <div class="arrow"></div>

        </div>
      </button>
    </div>
    <div class="col-md-6 col-sm-6 order-md-1">
      <!-- <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../../assets/image4.jpg">
           -->

      <div class="container text-center mycon">
        <div class="row">
          <div class="col-md-1 col-sm-0">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/image11.jpg">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/image12.jpg">
          </div>
          <div class="col-md-1 col-sm-0">
          </div>
        </div>

        <div class="row">
          <div class="col-md-1 col-sm-0">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/image15.jpg">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/image9.jpg">
          </div>
          <div class="col-md-1 col-sm-0">
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-6 col-sm-6 ">
      <h2 class="featurette-heading">
        <h2 class="MYtext">funding</h2> <span class="text-muted">Cricket Grounds</span>
      </h2>
      <p class="lead">
        Many cricket grounds receive financial support from government bodies at different levels, such as local,
        regional, or national governments. This funding can be allocated through sports development programs,
        infrastructure initiatives, or special grants aimed at promoting sports facilities.
      </p>


      <!-- <a href="#" class="mybtn">Get Started<i class="fa fa-long-arrow-right mx-2" aria-hidden="true"></i></a>
           -->
      <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Learn More</span>
      </button>

      <button class="mobtn">
        Explore
        <div class="arrow-wrapper">
          <div class="arrow"></div>

        </div>
      </button>
    </div>
    <div class="col-md-5 col-sm-5">
      <div class="container text-center mycon">
        <div class="row">
          <div class="col-md-1 col-sm-0">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/gr1.jpg">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/gr2.jpg">
          </div>
          <div class="col-md-1 col-sm-0">
          </div>
        </div>

        <div class="row">
          <div class="col-md-1 col-sm-0">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/gr3.jpg">
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
              height="200" src="../../assets/gr4.jpg">
          </div>
          <div class="col-md-1 col-sm-0">
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">




</div>


<!--------------FOOTER------------------->



<footer class="container my-4 myspace1">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <h1 class="my">Contact Us</h1>

      <p class="my2">call toll free</p>
      <p class="my">1-800-423-7387</p>
      <p class="my2">say hello</p>
      <p class="my">send a message</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <h1 class="my space1">follow us</h1>

      <span><i id="my" class="ri-instagram-line"></i></span>
      <span><i id="my" class="ri-facebook-line"></i></span>
      <span><i id="my" class="ri-twitter-line"></i></span>
      <span><i id="my" class="ri-youtube-line"></i></span>

      <!-- <a href="https://www.instagram.com/petsmartcharities/" target="blank"><i  class="ri-instagram-line"></i></a>
        <a href="https://www.facebook.com/PetSmartCharities" target="blank"><i  class="ri-facebook-line"></i></a>
        <a href="https://twitter.com/PetSmartChariTs" target="blank"><i i class="ri-twitter-line"></i></a>
        <a href="https://www.youtube.com/user/PetSmartCharitiesInc" target="blank"><i class="ri-youtube-line"></i></a>
         -->

    </div>
    <div class="col-md-4 col-sm-4">
      <h1 class="my space1">stay connected</h1>
      <div class="input-group mb-3 space2">
        <!-- <input type="text" class="form-control " placeholder="Enter Your Email Address" aria-label="Enter Your Email Address" aria-describedby="button-addon2">
        <button class="btn btn-outline-primary"  type="button" id="button-addon2">Submit</button>
         -->
        <div class="input-group">
          <input type="email" class="input" id="Email" name="Email" placeholder="uiverse@verse.io" autocomplete="off">
          <input class="buttons--submit" value="Subscribe" type="submit">
        </div>
      </div>
    </div>
  </div>

  <p class="space1" style="text-align: center;">©2021 CricKnight Club®, Inc. All rights reserved.</p>
</footer>
</ion-content>
