<ion-content>
  <div class="headerr">
    <div id="textdiv">
      <h2 class="Textt">Welcome to CricKnight</h2>
      
      <span class="Textt2">Cricket is not just a game, it's a way of life. It teaches you valuable lessons <br> about
        teamwork, perseverance, and sportsmanship.
      </span><br><br>
      
      <a routerLink="/user-page" class="mybtn mx-2">User</a>
      <a routerLink="/organizer-page" class="mybtn">Organizer</a><br><br>

      <button class="cta" routerLink="/about">
        <span class="hover-underline-animation"> Explore Now </span>
        <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
            <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
        </svg>
    </button>
    </div>
  
  
    <!--<div class="overlay"></div>-->
    <div class="myvideo">
      <video class="videobg" autoplay loop muted>
        <source src="../../assets/MyCric.mp4" type="video/mp4">
      </video>
    </div>
  
  </div>
                    
  
 
  
</ion-content>